ExpiresActive On

Header unset Pragma
FileETag None
Header unset ETag

# cache images/pdf docs for 10 days
#<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
#</FilesMatch>

# http://codex.wordpress.org/htaccess_for_subdirectories
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|mp3|mpg|mp4|mov|wav|wmv|png|gif|swf|css|js)$">
  Allow from All
  Header set Cache-Control "max-age=864000, public, must-revalidate"
  Header unset Last-Modified
</FilesMatch>

ExpiresDefault "access plus 1 month"

