<div style="text-align: center; vertical-align: middle; display: table-cell;">
	<div style="height:200px" id="spiderpig"><%= image_tag 'spiderpig.gif' %></div>
	<div style="color:white;font-family: monospace;font-size: 24px;"><%= Time.now.in_time_zone %></div>
</div>
