<%- content_for(:extra_body_classes, 'welcome') -%>
<div id="spiderpig-container">
	<div id="spiderpig"><%= image_tag 'spiderpig.gif', size: '91x55' %></div>
	<div id="spiderpig-label"><%= Time.now.in_time_zone %></div>
</div>
