
@include keyframes(charlieeee) {
	from { background-position: top left; } 
	to   { background-position: top right; }
}

body {
	@include linear-gradient(left, red, orange, yellow, green, blue, indigo, violet, red);
	@include animation(charlieeee 10s forwards linear infinite);
  background-size: 50% auto;
/*  padding-top: 20px;*/
/*  padding-bottom: 40px;*/
}

/* Custom container */
.container-narrow {
  background: white;
  margin: 0 auto;
  padding: 20px 20px 20px;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}