// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

// https://medium.com/@vasdekijoanna/sass-scss-useful-mixins-for-faster-development-b5ac5d4a5de
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

$map-for-directions: (
  "top": to top,
  "top-right": to top right,
  "right": to right,
  "bottom-right": to bottom right,
  "bottom": to bottom,
  "bottom-left": to bottom left,
  "left": to left,
  "top-left": to top left,
) !default;

// https://docs.gerillass.com/docs/linear-gradient/
@mixin linear-gradient($direction, $colors) {
  $list: ();
  @for $i from 1 through length($colors) {
    $list: append($list, nth($colors, $i), comma);
  }
  @if map-has-key($map-for-directions, $direction) {
    background: linear-gradient(
      map-get($map-for-directions, $direction),
      $list
    );
  } @else if not map-has-key($map-for-directions, $direction) {
    @if not index("deg", unit($direction)) {
      @error "#{$direction} is a wrong value for the $direction parameter. The value must be eighter a number followed by the 'deg' unit or one of the followings: #{map-keys($map-for-directions)}.";
    } @else {
      background: linear-gradient($direction, $list);
    }
  }
}

/*
 * CSS animated rainbow dividers of awesome
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou and unicorn @ollie
 **/
@include keyframes(charlieeee) {
	from { background-position: top left; }
	to   { background-position: top right; }
}

@include keyframes(rotate) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}

body {
	margin: 0;
	padding: 0;
}

#spiderpig {
	height: 200px;
  width: 200px;
  margin: 0 auto;

	// http://xn--ls8h.la/
  @include animation(rotate 5s forwards linear infinite);
}

#spiderpig-label {
	color: white;
	font-family: monospace;
	font-size: 24px;
}

#spiderpig-container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

body.welcome #content {
	// https://github.com/codepo8/CSS3-Rainbow-Dividers/blob/master/rainbows.scss
	@include linear-gradient(
		$direction: left,
		$colors: red orange yellow green blue indigo violet red
	);
	@include animation(charlieeee 10s forwards linear infinite);
	background-size: 50% auto;

	position: absolute;
	top: 0;
	bottom: 0;

	display: table;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
}
