// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou and unicorn @ollie
 **/
@-moz-keyframes charlieeee {
	from { background-position: top left; } 
	to   { background-position: top right; }
}
@-webkit-keyframes charlieeee { 
	from { background-position: top left; }  
	to   { background-position: top right; }  
}
@-o-keyframes charlieeee { 
	from { background-position: top left; }  
	to   { background-position: top right; }  
}
@-ms-keyframes charlieeee { 
	from { background-position: top left; }  
	to   { background-position: top right; }  
}
@-khtml-keyframes charlieeee { 
	from { background-position: top left; }  
	to   { background-position: top right; }
}
@keyframes charlieeee { 
	from { background-position: top left; }
	to   { background-position: top right; }
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

body {
	margin: 0;
	padding: 0;
}
	
#spiderpig {
	height: 200px;

	// http://xn--ls8h.la/
	-webkit-animation-name:	rotate;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#spiderpig-label {
	color: white;
	font-family: monospace;
	font-size: 24px;
}

#spiderpig-container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

body.welcome #content {
	// https://github.com/codepo8/CSS3-Rainbow-Dividers/blob/master/rainbows.scss
	$gradient: left, red, orange, yellow, green, blue, indigo, violet, red;
	background-image: -webkit-linear-gradient($gradient);
	background-image:    -moz-linear-gradient($gradient);
	background-image:      -o-linear-gradient($gradient);
	background-image:     -ms-linear-gradient($gradient);
	background-image:  -khtml-linear-gradient($gradient);
	background-image:         linear-gradient($gradient);

	$animation: charlieeee 2.5s forwards linear infinite;
	-moz-animation:    $animation;
	-webkit-animation: $animation;
	-o-animation:      $animation;
	-khtml-animation:  $animation;
	-ms-animation:     $animation;
	-lynx-animation:   $animation;
	animation:         $animation;

	background-size: 50% auto;

	position: absolute;
	top: 0;
	bottom: 0;

	display: table;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
}