// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";

/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou and unicorn @ollie
 **/
@include keyframes(charlieeee) {
	from { background-position: top left; } 
	to   { background-position: top right; }
}

@include keyframes(rotate) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}

body {
	margin: 0;
	padding: 0;
}
	
#spiderpig {
	height: 200px;

	// http://xn--ls8h.la/
  @include animation(rotate 5s forwards linear infinite);
}

#spiderpig-label {
	color: white;
	font-family: monospace;
	font-size: 24px;
}

#spiderpig-container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

body.welcome #content {
	// https://github.com/codepo8/CSS3-Rainbow-Dividers/blob/master/rainbows.scss
	@include linear-gradient(left, red, orange, yellow, green, blue, indigo, violet, red);
	@include animation(charlieeee 10s forwards linear infinite);
	background-size: 50% auto;

	position: absolute;
	top: 0;
	bottom: 0;

	display: table;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
}
